.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #b21b04);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0em 10rem;
  justify-content: center;
  padding: 2rem 1rem 0rem 1rem;
  width: 100%;
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.btn {
  font-size: 1.5rem;
}
.btn>svg {
  height: 2rem;
  width: 2rem;
}

.fc {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: 40vw;
  margin: 0;
  padding: 0;
  flex-shrink: 3;
}
.iphone {
  height: 90vh;
  max-height: 100vw; /* Ensures it doesn't exceed the container width */
}

.col>img {
  height: 2rem;
}
.doggy{
  display: block;
  text-align: center;
}
.doggy>img {
  height: 110px;
  border-radius: 50%;
  margin-top: 5rem;
}
.doggy>p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container>h2, .row {
  text-align: center;
}
#testimonial {
  background-color: #f3f2f2;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
:root {
  --bs-primary-rgb: rgb
}
.btn-primary {
  --bs-btn-color: rgb(245, 245, 245);
  --bs-btn-bg: rgb(39, 39, 39);
  --bs-btn-border-color: rgb(39, 39, 39);
  --bs-btn-hover-color: rgb(245, 245, 245);
  --bs-btn-hover-bg: rgb(39, 39, 39);
  --bs-btn-hover-border-color: rgb(39, 39, 39)3;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(245, 245, 245);
  --bs-btn-active-bg: rgb(38, 36, 57);
  --bs-btn-active-border-color: rgb(32, 31, 47);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(245, 245, 245);
  --bs-btn-disabled-bg: rgb(39, 39, 39);
  --bs-btn-disabled-border-color: rgb(39, 39, 39);
}
.border-primary {
  --bs-border-opacity: 1;
  border-color: rgb(39, 39, 39);
}
.card-3 {
  background-color: rgb(39, 39, 39) !important;
  color: rgb(245, 245, 245) !important;
  border-color: rgb(39, 39, 39) !important;
}
.button-3 {
  color: rgb(39, 39, 39); 
  background-color: rgb(245, 245, 245); 
  border-color: rgb(39, 39, 39);
}
.button-3 :hover{
  background-color: rgb(39, 39, 39) !important;
}
#pricing {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 1440px) {
  .fc {
    font-size: 3.5rem;
  }
}

@media (min-width: 435px) and (max-width: 970px) {
  .gradient-background {
    /* flex-wrap: wrap; */
    gap: 0 2rem;
  }
  .fc {
    width: 100vw;
    font-size: 2.4rem;
  }
  .btn {
    font-size: 1rem;
  }
  .btn>svg {
    height: 1rem;
    width: 1rem;
  }

  .gradient-background>p {
    padding-bottom: 1.2rem;
  }
  .col1>img {
    height: 1.5rem;
  }
  .col1 {
    width: 100vw;
  }
}

@media (min-width: 275px) and (max-width: 435px) {
  .gradient-background {
    flex-wrap: wrap;
  }
  .fc {
    font-size: 1.8rem;
    width: 100vw;
  }
  .gradient-background>p {
    order: 1;
  }
  .gradient-background>p>button {
    width: 90vw;
  }
  .btn {
    font-size: 1rem;
  }
  .btn>svg {
    height: 1rem;
    width: 1rem;
  }
  .gradient-background>p {
    padding-bottom: 1.2rem;
  }
  .gradient-background img {
    height: 40vh;
  }
  .col1>img {
    height: 1.5rem;
  }
  .col1 {
    width: 100%;
  }
}

@media (max-width: 275px){
  .gradient-background {
    gap: 0px 5px;
  }
  .fc {
    font-size: 0.5rem;
    font-weight: 700;
    text-align: center;
    width: 40%;
    margin: 0;
    padding: 0;
    flex-shrink: 3;
  }
  .btn {
    font-size: 0.5rem;
    /* height: 0.7rem; */
    width: 30vw;
    padding: 0;
    margin: 0.2rem;
    
  }
  .btn>svg {
    height: 0.5rem;
    width: 0.5rem;
    margin-top: 3px !important;

  }
  .iphone {
    height: 140px;
    margin: 0;
  }
  .col1{
    width: 100%;
  }
  .col1>img {
    height: 1rem;
  }
  .col2{
    /* display: block !important; */
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center !important;
  }
  .col2>div{
    margin: 0px !important;
  }
  .doggy>img {
    height: 60px
  }
}
